manuscript_files
manuscript.pdf
manuscript.tex
manuscript.log
supplement_files
supplement_cache
supplement.pdf
manuscript.aux
elsevier-harvard2.csl
wos_abbrev_table.csv
fig_captions.pdf
bib_title_abbrev.R
Friess_et_al_Suppl.pdf
Friess_et_al_ProtogynousHermaphroditeCKMR.pdf
figures/*
!figures/Figure_1.pdf
!figures/Figure_2.pdf
supplement.log
Revisions
versions-tex
supplement-2025-20-05-27a9217.log
supplement-2025-20-05-27a9217.pdf
supplement-2025-20-05-27a9217.synctex.gz
supplement-2025-20-05-27a9217.tex
supplement-diff-Nov-2025.aux
supplement-diff-Nov-2025.log
supplement-diff-Nov-2025.pdf
supplement-diff-Nov-2025.synctex.gz
supplement-diff-Nov-2025.tex
supplement.aux
supplement.docx
fig_captions.aux
fig_captions.docx
fig_captions.tex
manuscript.docx
manuscript.synctex.gz
supplement-2025-11-18-2a5c1c75b.aux
supplement-2025-11-18-2a5c1c75b.log
supplement-2025-11-18-2a5c1c75b.pdf
supplement-2025-11-18-2a5c1c75b.synctex.gz
supplement-2025-11-18-2a5c1c75b.tex
supplement-2025-20-05-27a9217.aux
